<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>loginFilter</filter-name>
  	<display-name>loginFilter</display-name>
  	<description></description>
  	<filter-class>Controller.loginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>loginFilter</filter-name>
  	<url-pattern>/porder/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>Controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addMembercController</servlet-name>
  	<display-name>addMembercController</display-name>
  	<description></description>
  	<servlet-class>Controller.addMembercController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addOrderController</servlet-name>
  	<display-name>addOrderController</display-name>
  	<description></description>
  	<servlet-class>Controller.addOrderController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logoutController</servlet-name>
  	<display-name>logoutController</display-name>
  	<description></description>
  	<servlet-class>Controller.logoutController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addMembercController</servlet-name>
  	<url-pattern>/addMembercController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addOrderController</servlet-name>
  	<url-pattern>/addOrderController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logoutController</servlet-name>
  	<url-pattern>/logoutController</url-pattern>
  </servlet-mapping>
</web-app>
  